*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*--------------caracterizticas generales del header sin media queries----------------*/
header {

    background-color: #eaebe5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    padding: 10px 7%;
    height: auto;
    margin: auto;
    width: 100%;

}

.logo_card{

    width: 60%;
    height: auto;

    filter: brightness(1,1);
    mix-blend-mode: multiply;
}

/*--------------caracterizticas generales de la barra de navegación sin media queries----------------*/

.nav_card{

    display: flex;
    align-items: center;

    margin: 3px 15px;

    font-size: 21px;
    font-family: sans-serif;
}

.nav_card li {
    
    list-style: none;

    margin: 0px 15px;
    padding: 6px;

    text-shadow: 3px 2px 3px #90694a;

    border-radius: 8px;
}


.nav_card :hover {

    background-color: brown;
    color: white;
    transform: scale(1.1,1.1);
    transition: 0.5s;
    padding: 3px;
    
    
}

nav a{
    text-decoration: none;
    color: black;
}
/*--------------caracterizticas generales del section principal sin media queries----------------*/


section .register-card{

    background-image: url(../image/register2.jpeg);
    min-height: 60em;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}

.form_card {

    display: flex;
    justify-content: center;
   
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.form_card a{

    color: lightcyan;
    font-size: 22px;
    font-family: system-ui;
    font-weight: 700;
    text-decoration: none;
    
}

.form_card a:hover{

    color: red;
    background-color: white;
    border-radius: 2em;
    transition: 0.5s;
    
}


form {
    margin: 0 auto;
    padding-top: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(0.5);
}


form ul {

    list-style-type: none;

    padding: 30px;
    margin: 0;

    color: lightcyan;

}
 

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    font-family: system-ui;
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}


input, textarea {

    font: 1em sans-serif;

    box-sizing: border-box;
    border: 1px solid #999;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

input:focus,
textarea:focus {

    border-color: #000;
}

textarea {

    vertical-align: top;

    height: 5em;
}

button {
    padding: 15px;
}










/*--------------caracterizticas generales del footer sin media queries----------------*/


.footer-card{

    padding: 50px;
    text-align: center;
    background-color: #eaebe5;
}

.social_network ul{
    display: flex;
    justify-content: center;
    list-style-type: none
    
}
.social_network li{
    padding:10px;
}

ion-icon{
    font-size: 32px;
}

@media (min-width: 375px) and (max-width: 767px){

    /*---------Caracterizticas de header para celular--------------*/
    header {

        background-color: #eaebe5;
        filter: invert(1);
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    
        padding: 10px 7%;
        height: auto;
        margin: auto;
        width: 100%;
    
    }
    
    /*--------logo de la empresa----------------------*/
    .logo_card{
    
        width: 100%;
        height: auto;
    
        filter: brightness(1,1);
        mix-blend-mode: multiply;
    }
    
    /*------------caractarizcas de la barra de navegación-------*/
    .nav_card{
    
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 3px 15px;

        font-size: 20px;
        font-family: sans-serif;
        
    }
    
    .nav_card li {
        
        list-style: none;
    
        margin: 0px 15px;
        padding: 6px;
    
        text-shadow: 3px 2px 3px #90694a;
    
        border-radius: 8px;
    }
    
    
    .nav_card :hover {

        background-color: brown;
        color: white;
        transform: scale(1.1,1.1);
        transition: 0.5s;
        
        
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    
    
    /*----------------------section principal --------------------------------------------------*/

    label {

        font-family: system-ui;
        font-size: 22px;
        font-weight: 700;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    
    /*---------Caracterizticas de header para celular--------------*/

    header {

        background-color: #eaebe5;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    
        padding: 10px 7%;
        height: auto;
        margin: auto;
        width: 100%;
    
    }
    
    
    /*--------logo de la empresa----------------------*/

    .logo_card {

        width: 100%;
        height: 20em;
       
        mix-blend-mode: multiply;
    }
    

    /*------------caractarizcas de la barra de navegación-------*/

    .nav_card {

        display: flex;
        flex-direction: column;
        align-items: center;

     
        font-size: 26px;
        font-family: sans-serif;
    }
    
    .nav_card li {
        
        list-style: none;
    
        margin: 0px 15px;
        padding: 6px;
    
        text-shadow: 3px 2px 3px #90694a;
    
        border-radius: 8px;
    }
    
    
    .nav_card :hover {

        background-color: brown;
        color: white;
        transform: scale(1.1,1.1);
        transition: 0.5s;
        
        
    }
    nav a{
        text-decoration: none;
        color: black;
    }

/*----------------------section principal ------------------------------*/

    label {
    
        font-family: system-ui;
        font-size: 22px;
        font-weight: 700;
        text-align: right;
    }
}